{% extends "admin/base.html.twig" %}

{% block title %}{{parent()}}Utilisateurs{% endblock %}

{% block body %}
<main class="d-flex flex-column gap-5 align-items-center">
<h1>Modifier un Utilisateur</h1>
{{form_start(form)}}
{{form_rest(form)}}
<input type="submit" value="Modifier" class="btn btn-primary">
{{form_end(form)}}
</main>
{% endblock %}