<footer class="py3 my-4 bg-warning">
	<ul class="nav justify-content-center pb-3 mb-3">
		<li class="nav-item">
			<a class="nav-link px-2 text-muted" href={{path('admin_home')}}>Accueil</a>
		</li>
		<li class="nav-item">
			<a class="nav-link px-2 text-muted" href={{path('admin_ingredient_index')}}>Ingrédient</a>
		</li>
		<li class="nav-item">
			<a class="nav-link px-2 text-muted" href={{path('admin_recipe_index')}}>Recettes</a>
		</li>
	</ul>
    <p class="text-center text-muted"> Copyright 2024, MarMytho</p>
</footer>
