<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Layout Practice</title>
    <link rel="stylesheet" href="../assets/css/article.css" />
  </head>
  <body>
    <header></header>

    <section></section>

    <main>
      <section>
        <article>
          <header>
            <h2>Shadow</h2>
          </header>

          <figure>
            <img src="../assets/img/wolf.jpg" alt="wolf" />
          </figure>
          <p>Listen Now</p>
          <audio controls>
            <source
              src="../assets/audio/forest-ambience.mp3"
              type="audio/mp3"
            />
          </audio>

          <a
            href="https://www.fnac.com/a744635/Musique-des-tribus-indiennes-Native-American-Music-CD-album#omnsearchpos=1"
            target="new"
          >
            <!--target new opens in a new tab-->
            <span> Buy Album </span>
          </a>

          <footer>
            <ul>
              <li>
                <a href="">
                  <img
                    src="../assets/img/insta-icon.png"
                    alt="instagram icon"
                  />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../assets/img/insta-icon.png" alt="insta icon" />
                </a>
              </li>
            </ul>
          </footer>
        </article>

        <article>
          <header>
            <h2>Shadow</h2>
          </header>

          <figure>
            <img src="../assets/img/wolf.jpg" alt="wolf" />
          </figure>
          <p>Listen Now</p>
          <audio controls>
            <source
              src="../assets/audio/forest-ambience.mp3"
              type="audio/mp3"
            />
          </audio>

          <a
            href="https://www.fnac.com/a744635/Musique-des-tribus-indiennes-Native-American-Music-CD-album#omnsearchpos=1"
            target="new"
          >
            <!--target new opens in a new tab-->
            <span> Buy Album </span>
          </a>

          <footer>
            <ul>
              <li>
                <a href="">
                  <img
                    src="../assets/img/insta-icon.png"
                    alt="instagram icon"
                  />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../assets/img/insta-icon.png" alt="insta icon" />
                </a>
              </li>
            </ul>
          </footer>
        </article>

        <article>
          <header>
            <h2>Shadow</h2>
          </header>

          <figure>
            <img src="../assets/img/wolf.jpg" alt="wolf" />
          </figure>
          <p>Listen Now</p>
          <audio controls>
            <source
              src="../assets/audio/forest-ambience.mp3"
              type="audio/mp3"
            />
          </audio>

          <a
            href="https://www.fnac.com/a744635/Musique-des-tribus-indiennes-Native-American-Music-CD-album#omnsearchpos=1"
            target="new"
          >
            <!--target new opens in a new tab-->
            <span> Buy Album </span>
          </a>

          <footer>
            <ul>
              <li>
                <a href="">
                  <img
                    src="../assets/img/insta-icon.png"
                    alt="instagram icon"
                  />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../assets/img/insta-icon.png" alt="insta icon" />
                </a>
              </li>
            </ul>
          </footer>
        </article>

        <article>
          <header>
            <h2>Shadow</h2>
          </header>

          <figure>
            <img src="../assets/img/wolf.jpg" alt="wolf" />
          </figure>
          <p>Listen Now</p>
          <audio controls>
            <source
              src="../assets/audio/forest-ambience.mp3"
              type="audio/mp3"
            />
          </audio>

          <a
            href="https://www.fnac.com/a744635/Musique-des-tribus-indiennes-Native-American-Music-CD-album#omnsearchpos=1"
            target="new"
          >
            <!--target new opens in a new tab-->
            <span> Buy Album </span>
          </a>

          <footer>
            <ul>
              <li>
                <a href="">
                  <img
                    src="../assets/img/insta-icon.png"
                    alt="instagram icon"
                  />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../assets/img/insta-icon.png" alt="insta icon" />
                </a>
              </li>
            </ul>
          </footer>
        </article>
      </section>
    </main>

    <footer></footer>
    <video controls loop preload="metadata" poster="../assets/img/wolf.jpg"> 
        <!-- preload metadata waits for the vid to be loaded before reading, -->
        <!-- poster sets a img for the video (before it plays) -->
      <source
        src="../assets/video/mountains_-_40965 (720p).mp4"
        type="video/mp4"
      />
      <source
        src="../assets/video/mountains_-_40965 (720p).ogv"
        type="video/ogv"
      />
      <source
        src="../assets/video/mountains_-_40965 (720p).webm"
        type="video/webm"
      />
    </video>
  </body>
</html>
