<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Integrating Components</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="2024 SassId" />
    <meta
      name="description"
      content="Bienvenue sur le cours de HTML CSS avancé"
    />
    <link rel="stylesheet" href="../assets/css/integration.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
  </head>
  <body>
    <header>
      <a href="../index.html">Logo</a>
      <a href="#mobile" aria-label="open navigation">
          <img src="../assets/img/icons8-menu-carré-2-50.png" alt="menu icon">
      </a>
      <nav>
          <ul id="mobile">
              <li><a href="#" aria-label="close navigation">Close X</a></li>
              <li><a href="">page</a></li>
              <li><a href="">page</a></li>
              <li><a href="">page</a></li>
              <li><a href="">page</a></li>
          </ul>
      </nav>
  </header>
     <section></section> <!-- this is the background img part-->
    <main>
      <section>
        
        <article>
          <figure>
            <img
              src="../assets/img/friends-figure.jpg"
              alt="two friends on top of their truck"
            />
            <figcaption>
              Have you ever dreamed of traveling the world with your bestie, on your own terms, free to go wherever you want, whenever you choose ?<br>Well, it's now possible with <br>FreedomCome !
            </figcaption>
          </figure>
        </article>

        <article>
          <figure>
              <img src="../assets/img/rollerskates.jpg" alt="rollerskates displayed on the grass">
          </figure>    
          <div>
              <h2>Disco Discount</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium harum distinctio, eveniet unde eos blanditiis possimus soluta aut at impedit deleniti corporis magnam ab consequatur veritatis vero recusandae molestiae!</p>
              <a href=""><span>en savoir +</span></a>
          </div>  
        </article>

        <article></article>

      </section>
      <section>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
      </section>
      <section id="france">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
      </section>
    </main>
    <!-- <aside>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </aside> -->
    <footer></footer>
  </body>
</html>
