* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *GENERAL */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* *COMPONENTS */

/* input[type="submit"] {
  background-color: royalblue;
  padding: 5px;
  min-width: 50px;
  border: none;
  border-radius: 7px;
} */

/* *HEADER */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  min-height: 50px;
  background-color: rgb(252, 181, 51);
  padding: 10px;
}

nav a {
  color: blueviolet;
  font-weight: bold;
  font-size: 20px;
  transition: text-decoration ease 2s;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

main {
  /* flex-grow: 1; */
  margin: 50px;
}

h1 {
  text-align: center;
}

/* *FOOTER */

.copyright {
  text-align: center;
}