<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/about-us.css" />
  </head>
  <body>
    <header>
      <a href="../index.html">
        <img
          class="konoha-logo"
          src="../assets/img/konoha-logo.png"
          alt="Logo de Konoha"
        />
      </a>
      <nav>
        <a href="../index.html">home</a>
        <a href="../view/contact.html">contact</a>
        <a href="../view/about-us.html">about</a>
      </nav>
    </header>
    <main>
      <h1>about us</h1>
      <section class="bio">
        <p>
          Konohagakure (木ノ葉隠れの里, Konohagakure no Sato, "Village Hidden in
          the Leaves" or "Hidden Leaf Village", literally meaning: Village
          Hidden by Tree Leaves) is the hidden village of the Land of Fire.
        </p>
        <p>
          As the village of one of the Five Great Shinobi Countries,
          Konohagakure has a Kage as its leader known as the Hokage, of which
          there have been eight in its history.
        </p>
        <p>
          Konoha resides deep within a forest at the base of a mountain known as
          the Hokage Rock, which has the faces of all those who have taken the
          office of Hokage engraved on it.
        </p>
        <p>
          It is surrounded on all sides by enormous walls. While generally seen
          as the most powerful of the ninja villages, Konoha has enjoyed many
          years of relative peace and stability.
        </p>
        <p>
          The standard attire for Konoha shinobi consists of blue or black
          shirts which may or may not have swirl patterns on the shoulders,
          along with matching coloured pants under a green flak jacket which
          also has a red swirl on the back, and pockets on the chest area.
        </p>
        <p>
          They also tend to wrap bandages around their legs. Many Konohagakure
          ninja use Fire Release techniques.
        </p>
      </section>
    </main>
    <footerr>
      <a class="up" href="#">up</a>
    </footerr>
  </body>
</html>
