<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Practice</title>
    <link rel="stylesheet" href="../css/flexbox-practice.css">
</head>
<body>
    <header>
        <nav>
           <a href="">accueil</a>
           <a href="">nos produits</a>
           <a href="">soldes</a>
           <a href="">contact</a>
           <a href="">informations</a>
        </nav>
    </header>
    <main>
        <h1>Accueil</h1>

    </main>
    
</body>
</html>