{% extends "base.html.twig" %}

{% block stylesheets %}
{# <link rel="stylesheet" href={{asset('css/admin_article.css')}}> #}
{# todo: create a delete css file #}

{% endblock %}

{% block body %}
<main>
<h1>Delete an Article</h1>
</main>
{% endblock %}