/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100%; /*use this rule to have all browser apply the full width available (in case they don't recognize the width: 100vw */
}

/* GENERAL */

/** Declares a variable inside css to store and reuse specific values */
:root {
  --main-color: #68614177;
  --gapx: 10px;
  --second-color: rgb(236, 236, 236);
}

section {
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  /* border: solid red; */
  position: relative;
  /* padding-top: 400px; */
}

/* *this selector uses the element's attribute to target it specifically */
a[href="index.html"] {
  color: white;
  font-size: 2rem;
}
 /* MAIN */
main {
  background: var(--second-color);
}


/* article { */
  /* min-width: 320px; */
   /* this allows us to prevent flex wrap behavior beyond that limit*/
  /* flex: 1;  */
  /* this allows to divide available space evenly no matter the number of inside boxes*/
  /* border: 1px solid white;
  min-height: 60vh;
} */

/* *Uses nth-child() pseudo selector to target a specific element */
main > section:nth-child(2) > article:nth-child(3) {
  flex: 2; /* makes that element bigger while still scaled evenly with others brother elements*/
  border: solid 1px black;
  min-height: 30vh;
  align-self: flex-start;
}

figure,
article {
  min-width: 300px;
  height: 375px;
  flex: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden; /**this allows to render everything that's out of the element's frame invisible */
  border-radius: 20px;
  border: 1px solid blue;
}

figure:hover > figcaption,
article:hover > div {
  top: 0;
}

figure > img {
  max-width: 100%; /*insure the img is shortened if bigger than the parent*/
  min-width: 100%; /*insure the img is made bigger if smaller than the parent*/
}

figcaption,
div {
  width: 100%;
  height: 375px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  position: absolute;
  top: 375px;
  left: 0;
  transition: 500ms;
}

@media screen and (orientation: portrait) {
  header+section {
    background: url(../img/background-portrait.jpg) center center no-repeat fixed;
    background-size: cover;
  }
}

@media screen and (orientation:landscape) {
  header+section {
    background: url(../img/background.jpg) center bottom no-repeat fixed;
    background-size: cover
  }
}
