* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #810606;
  color: #333;
}

/* HEADER: */

header {
  background-color: rgb(3, 67, 110);
  padding: 20px;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

header p {
  color: rgb(243, 203, 100);
}

/* COMPONENTS: */
h1 {
  margin: 10px;
  text-transform: uppercase;
  text-shadow: 10px 10px 5px black;
  animation: shadow-swing 3s ease 1s infinite;
}

@keyframes shadow-swing {
  0% {
    text-shadow: -10px 10px 5px black;
  }
  50% {
    text-shadow: 0px 10px 5px black;
  }
  0% {
    text-shadow: 10px 10px 5px black;
  }
}

h2 {
  color: rgb(31, 161, 248);
  text-align: center;
  margin: 20px;
}

P {
  margin: 20px;
}

/* MAIN SECTION: */

main {
  width: 800px;
  border-radius: 20px;
  margin: 200px auto 150px;
  padding: 10px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.39);
  background-color: #f0f0f0;
}

main img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.5);
  margin: auto;
}

/* SECTION #1: MAIN CHARACTERS */

.characters {
  margin: 40px;
}

.characters ul {
  display: table;
  margin: auto;
}

/* SECTION #2: HERO SECTION */

.hero {
  height: 435px;
  padding-top: 180px;
  color: #f0f0f0;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(0, 0, 0, 0.788), transparent),
    url("../img/claymore-trio.bmp");
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.5);
  text-align: center;
}

.hero h3 {
  animation: pulse 20s ease-in-out 0.5s infinite;
}
/*! Issue: The animated text is going over the fixed header */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* SECTION #3: SKILLS */

.skills {
  margin: 40px;
}

.skills ol {
  list-style-type: upper-roman;
}

/* FOOTER */

footer {
  background-color: rgb(3, 67, 110);
  padding: 20px;
  /* position: fixed;
  width: 100%;
  bottom: 0; */

}
footer a {
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #333;
  /* padding: 10px 2px; */
  display: block;
  width: 100px;
  margin: auto;
  padding: 5px;
}

footer a:hover {
  color: #e12e2d;
}
