{% extends "admin/base.html.twig" %}

{% block title %}Créer une nouvelle Recette{% endblock %}

{% block body %}
<main class="d-flex flex-column gap-5 align-items-center">
<h1>Nouvelle Recette</h1>
{{form_start(form)}}
{{form_rest(form)}}
<input type="submit" value="Enregister" class="btn btn-primary">
{{form_end(form)}}

</main>
{% endblock %}