<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM Practice</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/dom.css">
    <script src="../assets/js/14-dom.js" defer></script>
    <script src="../assets/js/15-events.js" defer></script>
  </head>
  <body>
    <h1 id="main-title">DOM Manipulation in JavaScript</h1>
    <h2 class="border title" id="css-properties">CSS Properties</h2>
    <h2 class="underlined title" id="not-so-easy-h2">Not so easy JS</h2>
    <div id="div1">
        <p id="first-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis suscipit quae, dolores voluptatem soluta consectetur qui expedita voluptates maxime eligendi numquam sit? Unde corporis sunt recusandae. Accusantium accusamus delectus autem?</p>
        <p id="second-paragraph" class="txt-uppercase">Voluptates minima placeat in laboriosam debitis, quae veritatis vel quisquam quia quibusdam error, numquam illum, rem dolorum. Esse explicabo cumque consectetur laboriosam neque, enim ex repellat similique quam suscipit. Itaque.</p>
        <p id="last-p" class="txt-uppercase">Distinctio hic quisquam aspernatur earum amet, id totam quis. Ipsa maiores neque amet quia hic iste dolorum. Voluptatum expedita perferendis dolore mollitia officia, iusto repudiandae dolores odit corporis? Quas, vitae.</p>
    </div>
  
  </body>
</html>
