<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS List Practice</title>
    <script src="../assets/js/16-practice.js" defer></script>
</head>
<body>
    <div id="first-div">
        <h1 id="naruto-h1">なると キャラクターズ</h1>
        <ul id="naruto-list">
          <li>うずまき なると</li>
          <li>はるの さくら</li>
          <li>うちは さすけ</li>
          <li>はたけ かかし</li>
          <li>つなで ひめ</li>
        </ul>
      </div>
      <div id="second-div">
        <h3>To Do List</h3>
        <ul id="to-do-list">
          <li>Do this</li>
          <li>Do that</li>
          <li>Check that you did this</li>
          <li>Chack that you did that</li>
          <li>Rest</li>
        </ul>

      </div>
    </body>
</html>