@import "reset";
@import "base";
@import "layout";

// *MAIN
// we call the mixin with @include
main {
  @include assa();
  @extend %ablo;
  // background: transparentize($orange, 0.7) //! we obtain 30% of transparency
  background: lighten($orange, 20%);
  background: darken($orange, 20%);
}

// we call the placeholder with @extend
p {
  @extend %ablo;
}

header {
  width: percentage(1980px, 1980px);
  background: lighten($orange, 20%);
  min-height: $value * 4;

  nav {
    @include nav();

    ul {
      list-style: none;
      li {
        @include li();

        a {
          text-decoration: none;
          color: white;

          &:hover {
            //! the & takes the element right above it
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

#nav-links {
  display: flex;
  list-style: none;
  @include responsive-for(computer) {
    // flex-direction: row;
    li {
      display: block;
      height: 40px;
      width: 100px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  @include responsive-for(tablet) {
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    li {
      display: block;
      height: 40px;
      width: 100%;
    }
  }
}
