{% extends "front/base.html.twig" %}

{% block title %}
	{{parent()}}
	Conditions d'Utilisation
{% endblock %}

{% block body %}
	<main class="d-flex flex-column justify-content-center gap-5">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h1 class="card-title">Conditions d'utilisation</h1>

						<p>Bienvenue sur Lumi Design. En accédant à ce site, vous acceptez de respecter et d'être lié par les conditions d'utilisation suivantes. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>

						<h2>1. Acceptation des Conditions</h2>
						<p>En utilisant ce site, vous acceptez de vous conformer à ces conditions d'utilisation. Lumi Design se réserve le droit de modifier ces conditions à tout moment sans préavis. Il est de votre responsabilité de consulter régulièrement ces conditions pour vous tenir informé des éventuelles modifications.</p>

						<h2>2. Propriété Intellectuelle</h2>
						<p>Tout le contenu de ce site, y compris les textes, images, logos, graphiques et autres éléments, est protégé par les droits de propriété intellectuelle de Lumi Design. Vous ne pouvez pas reproduire, distribuer, ou utiliser le contenu sans l'autorisation écrite préalable de Lumi Design.</p>

						<h2>3. Utilisation du Site</h2>
						<p>Vous acceptez d'utiliser ce site uniquement à des fins légales et conformément à toutes les lois et règlements applicables. Vous ne devez pas utiliser ce site d'une manière qui pourrait endommager, désactiver, surcharger ou altérer le site ou interférer avec l'utilisation de ce site par d'autres personnes.</p>

						<h2>4. Exclusion de Responsabilité</h2>
						<p>Lumi Design ne peut être tenue responsable des dommages directs, indirects, spéciaux ou consécutifs découlant de l'utilisation ou de l'impossibilité d'utiliser ce site. Le site est fourni "en l'état" sans aucune garantie de sa disponibilité, de son exactitude ou de sa sécurité.</p>

						<h2>5. Liens Externes</h2>
						<p>Ce site peut contenir des liens vers des sites externes. Lumi Design n'a aucun contrôle sur ces sites et ne peut être tenue responsable de leur contenu. L'inclusion de ces liens n'implique pas l'approbation ou la responsabilité de Lumi Design concernant les sites liés.</p>

						<h2>6. Modifications des Conditions</h2>
						<p>Lumi Design se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les modifications entreront en vigueur dès leur publication sur ce site. En continuant à utiliser ce site après la publication des modifications, vous acceptez les conditions modifiées.</p>

						<h2>7. Contact</h2>
						<p>Pour toute question concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante :
							<a href="mailto:contact@lumidesign.com">contact@lumidesign.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
