* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* SECTION #1: HERO SECTION: */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  min-height: 400px;
  background-color: #c99981;
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), transparent),
    url("../img/konoha-bckgrnd.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: white;
  text-align: center;
}

/* SECTION #2: EXPLORE */

.explore img {
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.explore {
  min-height: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.pics {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
